<% layout('layout/base') %>

<h1>Import the CSV file</h1>

<form action="/uploads" method="POST" enctype="multipart/form-data" >
    <input type="file" name="material" accept=".csv">
    <button type="submit">Submit</button>
</form>

<table>
    <thead>
        <th>nsites</th>
        <th>formula_pretty</th>
        <th>volume</th>
        <th>density</th>
        <th>symmetry__crystal_system</th>
        <th>symmetry__symbol</th>
        <th>symmetry__number</th>
        <th>symmetry__point_group</th>
        <th>symmetry__symprec</th>
        <th>symmetry__version</th>
        <th>formation_energy_per_atom</th>
        <th>energy_above_hull</th>
        <th>is_stable</th>
        <th>band_gap</th>
        <th>is_gap_direct</th>
        <th>is_metal</th>
        <th>ordering</th>
        <th>total_magnetization</th>
        <th>universal_anisotropy</th>
        <th>theoretical</th>
    </thead>
    <% for (let material of materials) {%>
        <tr>
            <td><%= material.nsites %></td>
            <td><%= material.formula_pretty %></td>
            <td><%= material.volume %></td>
            <td><%= material.density %></td>
            <td><%= material.symmetry__crystal_system %></td>
            <td><%= material.symmetry__symbol %></td>
            <td><%= material.symmetry__number %></td>
            <td><%= material.symmetry__point_group %></td>
            <td><%= material.symmetry__symprec %></td>
            <td><%= material.symmetry__version %></td>
            <td><%= material.formation_energy_per_atom %></td>
            <td><%= material.energy_above_hull %></td>
            <td><%= material.is_stable %></td>
            <td><%= material.band_gap %></td>
            <td><%= material.is_gap_direct %></td>
            <td><%= material.is_metal %></td>
            <td><%= material.ordering %></td>
            <td><%= material.total_magnetization %></td>
            <td><%= material.universal_anisotropy %></td>
            <td><%= material.theoretical %></td>
        </tr>
    <% } %>

</table>